xsd/getJobs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="running-jobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="job" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="lastFireTime"/>
              <xs:element type="xs:string" name="nextFireTime"/>
              <xs:element type="xs:string" name="sql-query"/>
              <xs:element name="params">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="param" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>