xsd/job-details.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="job-details">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="cron-expression"/>
        <xs:element type="xs:string" name="sql-query"/>
        <xs:element name="params">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="param" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mail-details">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="subject"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>