xsd/response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="message"/>
        <xs:element type="xs:string" name="error"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>